/*CSS Reset*/

html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
dt,
blockquote,
fieldset,
figure,
figcaption,
button {
  margin: 0;
  font-weight: normal;
}


details,
summary,
main {
  display: block;
}

b,
strong {
  font-weight: bold;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

td,
th,
fieldset,
legend {
  padding: 0;
}

fieldset {
  border: none;
  width: 100%;
}

legend{
  width: 100%;
}

body {
	background-image: linear-gradient(to bottom, #45B1BF 0%, #7561E6 100%);
}

/*Variables*/
:root {
  --base-font-family: 'Open Sans', sans-serif;
  --heading-font-family: 'Nixie One', cursive;
  --base-letter-spacing: 0;
  --base-line-height: 1.2;
}

/*Typography*/
.heading--one,
.heading--two,
.heading--three,
.heading--four {
  font-family: var(--heading-font-family);
  line-height: var(--base-line-height);
  letter-spacing: var(--base-letter-spacing);
}

.heading--one {
  font-size: 30px;
}

.heading--two {
  font-size: 22px;
}

.heading--three {
  font-size: 18px;
}

.heading--four {
  font-size: 16px;
}

body {
  font-family: var(--base-font-family);
  line-height: var(--base-line-height);
  letter-spacing: var(--base-letter-spacing);
}
  

.nav {
	max-width: 100%;
	padding: 20px;
}
.nav__list {
	display: flex;
	list-style: none;
	padding-left: 0;
}

.nav__link {
	color: #fff;
	text-decoration: none;
	transition: text-decoration .3s ease;
}

.nav__link:hover {
	text-decoration: underline;
}